* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/********************** Header start *****************************/

.header__cookies {
    height: 72px;
    background: #194277;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
}

.header__cookies * {
    margin: 0 12px;
}

a.header__btn {
    display: inline-block;
    padding: 14px 50px;
    background: #fff;
    border-radius: 23px;
    text-decoration: none;
    color: #3695ff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

a.header__btn.header__btn_small {
    padding: 8px 37px;
    color: #194277;
    font-size: 0.6rem;
    border-radius: 12px;
}

a.header__btn:hover {
    color: #367ffe;
    background-color: #f1f8ff;
}

header.header {
    background-color: #3695ff;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.header .header__logo {
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5em;
    box-shadow: 0 0 5px 5px #589bfe, 0 0 15px 5px #428cfe;
    ;
}

.header .header__title {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.3em;
    width: 100%;
    max-width: 600px;
    padding: 0 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2.2em 0 1.2em 0;
}

.header .header__slogan {
    font-size: 0.75em;
    line-height: 1.4em;
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2.2em;
}

.header .header__btn {
    display: block;
    margin-bottom: 2.5em;
}

.header .header__arrow {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 1.2em;
}

@media screen and (max-width: 600px) {
    header.header {
        font-size: 12px;
    }
}


/********************** Header end *****************************/

.main {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    .expert-in {
        background-color: #f1f8ff;
        width: 100%;
        height: 1145px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3677fd;
        
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 940px;
            max-width: 1140px;
            width: 100%;
            .container__title {
                text-align: center;
                font-size: 50px;
                font-weight:300;
            }
            .container__box {
                display: flex;
                flex-direction: column;
                height: 780px;
                justify-content: space-between;
                .p-box {
                    display: flex;
                    justify-content: space-between;
                    flex-basis: 44%;
                }
                .content-1 {
                    img {
                        width: 45px;
                        height: 65px;
                    }
                }
                .content-2 {
                    img {
                        width: 70px;
                        height: 60px;
                    }
                }
                .content-3 {
                    img {
                        width: 60px;
                        height: 65px;
                    }
                }
                .content-4 {
                    img {
                        width: 70px;
                        height: 65px;
                    }
                }
                .content-5 {
                    img {
                        width: 65px;
                        height: 65px;
                    }
                }
                .content-6 {
                    img {
                        width: 75px;
                        height: 65px;
                    }
                }
                .p-box__content {
                    max-width: 350px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    font-size: 16px;
                    .img-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 120px;
                        height: 120px;
                        border: 1px solid #6c6f72;
                        border-radius: 50%;
                    }
                    .content__title {
                        font-weight: 700;
                        text-transform: uppercase;
                        padding: 60px 0 35px;
                    }
                    .content__text {
                        color: #5a5a5a;
                        line-height: 2;
                    }
                }
                .box__lower-box {
                    .content-6 {
                        .img-container {
                            position: relative;
                            img {
                                position: absolute;
                                left: 25px;
                                top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}